<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 별명 설정 -->
		<typeAlias alias="user" type="com.cto.auction.vo.User"/>
		<typeAlias alias="board" type="com.cto.auction.vo.Board"/>
		<typeAlias alias="item" type="com.cto.auction.vo.Item"/>
		<typeAlias alias="itemSch" type="com.cto.auction.vo.Item_Sch"/>
		<typeAlias alias="bid" type="com.cto.auction.vo.Bid"/>
		<typeAlias alias="payment" type="com.cto.auction.vo.Payment"/>
		<typeAlias alias="notice" type="com.cto.auction.vo.Notice"/>
		<typeAlias alias="auctioneer" type="com.cto.auction.vo.Auctioneer"/>
		<typeAlias alias="message" type="com.cto.auction.vo.Message"/>
		<typeAlias alias="calendar" type="com.cto.auction.vo.Calendar"/>
	</typeAliases>
</configuration>
	