<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 별명 설정 -->
		<typeAlias alias="user" type="com.cto.auction.vo.user.User"/>
		<typeAlias alias="board" type="com.cto.auction.vo.board.Board"/>
		<typeAlias alias="item" type="com.cto.auction.vo.item.Item"/>
		<typeAlias alias="itemSch" type="com.cto.auction.vo.item.Item_Sch"/>
		<typeAlias alias="bid" type="com.cto.auction.vo.bid.Bid"/>
		<typeAlias alias="payment" type="com.cto.auction.vo.user.Payment"/>
		<typeAlias alias="notice" type="com.cto.auction.vo.notice.Notice"/>
		<typeAlias alias="auctioneer" type="com.cto.auction.vo.user.Auctioneer"/>
	</typeAliases>
</configuration>
	